.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #232323;
}
.home-container2 {
  display: contents;
}
@media (max-width: 1600px) {
  .home-container {
    background-color: #040404;
  }
}
@media (max-width: 479px) {
  .home-container {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
