.join-container {
  width: 100%;
  filter: blur(1.5);
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #141414;
  color: rgba(12, 12, 12, 0.868);
}
.join-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1600px) {
  .join-container {
    background-color: #0f0f0f;
  }
}
