.growth-growth {
  width: 1581px;
  height: 1551px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.growth-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.growth-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.growth-header1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.growth-heading {
  color: #bf8900;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.growth-text {
  font-family: "Pixel NES";
}
.growth-caption {
  color: #bebebe;
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  font-family: "Pixel NES";
  line-height: 36px;
}
.growth-caption1 {
  color: #c0c0c0;
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  font-family: "Pixel NES";
  line-height: 36px;
  border-color: #313133;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.growth-testimonial {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 311px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #f7f7f7;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.growth-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.growth-text02 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.growth-text03 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-family: "Courier New";
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5%;
}
.growth-information {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.growth-author {
  gap: var(--dl-space-space-unit);
  width: 231px;
  height: 103px;
  display: flex;
  align-items: center;
  border-color: #7C7C80;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  border-right-width: 1px;
}
.growth-icon {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.growth-name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Arial Black";
  line-height: 27px;
}
.growth-from {
  width: 63px;
  height: 55px;
  object-fit: cover;
}
.growth-testimonial1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: #e4e4e4;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.growth-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.growth-text04 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.growth-text05 {
  color: rgb(133, 133, 133);
  font-size: 18px;
  font-style: normal;
  font-family: "Courier New";
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5%;
}
.growth-text10 {
  color: #d6d6d6;
}
.growth-text15 {
  line-height: 24px;
}
.growth-information1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.growth-author1 {
  gap: var(--dl-space-space-unit);
  width: 242px;
  height: 94px;
  display: flex;
  align-items: center;
  border-color: #7C7C80;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  border-right-width: 1px;
}
.growth-icon1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.growth-name1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Arial Black";
  line-height: 27px;
}
.growth-from1 {
  width: 68px;
  height: 54px;
  object-fit: cover;
}
.growth-container {
  width: 589px;
  height: 1363px;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.growth-images {
  width: 542px;
  height: 360px;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.growth-square {
  top: 64px;
  right: -35px;
  width: 209px;
  height: 224px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #ff6c05;
  align-items: flex-start;
  aspect-ratio: 1;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: flex-start;
  background-image: radial-gradient(circle at right bottom, rgb(102, 20, 21) 1.00%,rgb(247, 198, 0) 100.00%);
}
.growth-image {
  width: 374px;
  height: 50%;
  z-index: 100;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
}
.growth-image1 {
  width: 578px;
  height: 800px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 1600px) {
  .growth-growth {
    width: 100%;
  }
  .growth-caption {
    color: rgb(124, 124, 128);
    font-size: 24px;
    font-family: Pixel NES;
    line-height: 36px;
  }
  .growth-testimonial {
    height: 317px;
  }
  .growth-information {
    height: 109px;
  }
  .growth-testimonial1 {
    height: 347px;
  }
}
@media(max-width: 1200px) {
  .growth-growth {
    height: 1838px;
  }
}
@media(max-width: 991px) {
  .growth-growth {
    height: 2840px;
    align-items: center;
    flex-direction: column;
  }
  .growth-testimonial {
    height: 297px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .growth-content1 {
    height: 62px;
  }
  .growth-text03 {
    max-width: 560px;
  }
  .growth-testimonial1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .growth-text05 {
    max-width: 560px;
  }
  .growth-text06 {
    max-width: 560px;
  }
  .growth-text07 {
    max-width: 560px;
  }
  .growth-text09 {
    max-width: 560px;
  }
  .growth-text10 {
    max-width: 560px;
  }
  .growth-text11 {
    max-width: 560px;
  }
  .growth-text13 {
    max-width: 560px;
  }
  .growth-text15 {
    max-width: 560px;
  }
  .growth-container {
    height: 1034px;
  }
  .growth-images {
    height: 203px;
    padding-top: 0px;
  }
  .growth-square {
    top: -20px;
    right: -20px;
  }
  .growth-image {
    width: 494px;
    height: 200px;
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .growth-growth {
    height: 2063px;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .growth-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .growth-header {
    gap: var(--dl-space-space-unit);
  }
  .growth-heading {
    font-size: 40px;
  }
  .growth-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .growth-caption1 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .growth-text02 {
    font-size: 12px;
    line-height: 18px;
  }
  .growth-text03 {
    height: 100%;
  }
  .growth-icon {
    width: 40px;
    height: 40px;
  }
  .growth-name {
    font-size: 12px;
    line-height: 18px;
  }
  .growth-from {
    width: 102px;
    height: 100px;
  }
  .growth-text04 {
    font-size: 12px;
    line-height: 18px;
  }
  .growth-icon1 {
    width: 40px;
    height: 40px;
  }
  .growth-name1 {
    font-size: 12px;
    line-height: 18px;
  }
  .growth-from1 {
    width: 101px;
    height: 103px;
  }
  .growth-images {
    width: 572px;
  }
  .growth-image {
    width: 371px;
    height: 145px;
  }
}
@media(max-width: 479px) {
  .growth-growth {
    width: 478px;
    height: 2053px;
    max-width: auto;
    min-width: 300px;
    padding-top: 87px;
  }
  .growth-content {
    width: 383px;
    height: 1232px;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .growth-header {
    align-items: center;
  }
  .growth-heading {
    width: 289px;
    font-size: 36px;
  }
  .growth-caption {
    width: 281px;
  }
  .growth-caption1 {
    width: 270px;
    height: 282px;
  }
  .growth-testimonial {
    width: 311px;
    height: 220px;
    padding-bottom: 0px;
  }
  .growth-content1 {
    height: 56px;
  }
  .growth-text02 {
    align-self: center;
  }
  .growth-text03 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .growth-information {
    width: 255px;
    height: 86px;
  }
  .growth-author {
    width: 216px;
    height: 100%;
  }
  .growth-name {
    font-family: Pixel NES;
  }
  .growth-from {
    width: 64px;
    height: 57px;
  }
  .growth-testimonial1 {
    width: 309px;
    height: 347px;
    padding-top: 4px;
    padding-bottom: 0px;
  }
  .growth-text04 {
    align-self: center;
  }
  .growth-information1 {
    width: 295px;
  }
  .growth-author1 {
    width: 168px;
    height: 78px;
    padding-right: 0px;
  }
  .growth-name1 {
    font-family: Pixel NES;
  }
  .growth-from1 {
    width: 52px;
    height: 56px;
  }
  .growth-container {
    width: 354px;
    height: 610px;
  }
  .growth-images {
    width: 293px;
    height: 161px;
    padding-bottom: 0px;
  }
  .growth-square {
    width: 203px;
    height: 196px;
  }
  .growth-image {
    width: 277px;
    height: 118px;
  }
  .growth-image1 {
    width: 281px;
    height: 352px;
    margin-left: var(--dl-space-space-twounits);
  }
}
