.note-note {
  width: 100%;
  height: 441px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 5px;
  align-items: center;
  padding-top: 116px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 53px;
  justify-content: flex-start;
  align-items: center;
}
.note-caption {
  width: 965px;
  height: 267px;
  font-size: 40px;
  max-width: 800px;
  font-style: italic;
  font-family: "Pixel NES";
  font-weight: 400;
  line-height: 52px;
}
.note-text {
  color: #d2d2d2;
}
.note-text1 {
  color: #ffb721;
}
.note-text2 {
  color: #d2d2d2;
}
@media (max-width: 991px) {
  .note-caption {
    width: 642px;
  }
}
@media (max-width: 767px) {
  .note-note {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .note-caption {
    height: 67px;
    font-size: 18px;
    max-width: 90%;
    line-height: 23px;
    margin-right: 0px;
  }
}
@media (max-width: 479px) {
  .note-note {
    height: 252px;
    margin-top: 71px;
    padding-right: 0px;
  }
  .note-caption {
    width: 308px;
    height: 134px;
    font-family: Pixel NES;
  }
}
